doctype html
html
  head
    title scroll sample
    link(rel="stylesheet", href="/css/main.css", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet")
  body
    section.l-block.is-current.js-scrollBlock
      h1 sample 0
    section.l-block.js-scrollBlock
      h2 sample 1
    section.l-block.js-scrollBlock
      h2 sample 2
    section.l-block.js-scrollBlock
      h2 sample 3
    section.l-block.js-scrollBlock
      h2 sample 4
    section.l-block.js-scrollBlock
      h2 sample 5
    section.l-block.js-scrollBlock
      h2 sample 6
    script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
    script(src="/js/main.js")